@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.abouthero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: linear-gradient(
    to bottom, 
    #222121 0%, 
    rgba(30, 33, 33, 0.5) 50%, 
    #222121 100%
  );
  text-align: center;
  position: relative;
  color: white;
  padding: 0 1rem;
  overflow: hidden;
}

.abouthero-content {
  max-width: 90%;
  position: relative;
}

.abouthero::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 1px;
  background-color: #ccc;
}

.abouthero-subtitle {
  display: block;
  font-size: 0.75rem; /* 12px */
  letter-spacing: 2px;
  color: #c49b63;
  margin-bottom: 10px;
}

.abouthero-title {
  font-size: clamp(2rem, 5vw, 3rem); /* Responsive size */
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  line-height: 1.2;
  word-break: break-word;
}

