.service-hero {
  background: linear-gradient(
    to bottom, 
    #222121 0%, 
    rgba(30, 33, 33, 0.5) 50%, 
    #222121 100%
  );
  color: white;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 20em;
  position: relative;
}

.service-hero-content {
  max-width: 800px;
  padding-left: 40px;
}

.service-hero-subtitle {
  color: #c8a165;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
}

.service-hero-subtitle::before {
  content: '';
  height: 50px;
  width: 1px;
  background-color: #c8a165;
  position: absolute;
  left: -20px;
  top: 0;
}

.service-hero-title {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 2em;
  font-family: 'Georgia', serif;
}

.service-hero-new {
  margin-right: 14em;
}
.service-hero-desc{
  margin-left: 4.2em;
  color: #d8cec2;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}